<IfModule mod_rewrite.c>
    RewriteEngine On

    # If file exists in public, serve it
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route everything to index.php
    RewriteRule ^ index.php [L]
</IfModule>
